html {
    font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#new_post_section {
    margin: 0;
    padding-left: 20px;
}

#new_post_box {
    padding: 20px 0px 20px 20px;
    border: 2px solid lightgrey;
    margin-right: 20px;
    border-radius: 10px;
}

#new_post_header {
    font-size: 30px;
}

#new_post_text {
    height: 50vh;
    width: 75vw;
    display: block;
}

#create_post_button {
    margin-top: 10px;
}


/* home index */
.post_container {
    min-height: 60px;
    margin: 10px 20px 10px 20px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    display: block;
}

.post_element {
    margin: 0px 10px 0px 20px;
}

.post_user {
    font-size: 30px;
    padding-top: 10px;
}

.post_content {
    display: block;
}

.post_text {
    font-size: 20px;
}

.post_comment {
    padding-bottom: 10px;
}

.post_edit {
    display: none;
    margin-bottom: 10px;
    font-size: 12px;
}

.post_save {
    margin-bottom: 10px;
    font-size: 12px;
}

.post_textarea {
    margin-bottom: 10px;
    font-size: 12px;
}

.save_container {
    display: none;
}


/* profiles */
#follow_button {
    display: block;
}

#unfollow_button {
    display: block;
}

#profile-header {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
}

#profile-table {
    padding: 10px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: 60px;
}

.profile-stats {
    text-align: center;
    padding: 5px 10px 5px 10px;
}

#following {
    margin-left: 40px;
}

#posts-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 60px 0 60px;
}

.ind-post {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: lightgray;
    padding: 15px;
}

.post-info {
    margin: 5px 0 5px 0;
}

.no-posts {
    margin-top: 20px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}