:root {
    --border: 1.5px solid #CED0D4;
    --input-bg: black;
    --hover: rgb(85, 85, 85);
    --error-border: 2px solid red;
    --blue: rgb(53, 121, 234);
    --light-blue: rgb(71, 175, 255);
    --white: white;
}

html {
    font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #121212;
}

body {
    background-color: #121212;
    font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--white);
}

input {
    color: var(--white);
}

.blue-button {
    background-color: var(--light-blue);
    color: var(--white);
}



/* home index */
#observerElement {
    margin-bottom: 40px;
}

.post_container {
    min-height: 60px;
    margin: 10px 20px 10px 20px;
    border: var(--border);
    border-radius: 10px;
    display: block;
}

.navbar {
    background-color: black;
}

.nav-link, .navbar-brand {
    color: var(--white);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.nav-link:hover {
    color: var(--white);
    background-color: var(--hover);
}

.navbar-brand:hover {
    color: var(--blue);
}

.post_element {
    margin: 0px 10px 0px 20px;
}

.post_user {
    font-size: 30px;
    padding-top: 10px;
}

.post_user:hover {
    cursor: pointer;
}

.post_content {
    display: block;
}

.post_date {
    margin-top: 10px;
}

.post_text {
    font-size: 20px;
}

.post_comment {
    padding-bottom: 10px;
}

.post_edit {
    display: none;
    margin-bottom: 10px;
    font-size: 12px;
}

.post_save {
    margin-bottom: 10px;
    font-size: 12px;
}

.post_textarea {
    margin-bottom: 10px;
    font-size: 12px;
}

.save_container {
    display: none;
}



/* settings */
#settings-icon {
    right: 10px;
    position: absolute;
    top: 6px;
    height: 40px;
    filter: invert(1);
}

#settings-title {
    margin-left: 20px;
    margin-top: 20px;
}

#settings-form, #change-password-button {
    margin-left: 40px;
    margin-top: 20px;
}

.settings-input {
    border: var(--border);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--input-bg);
}

#save-settings-button:hover {
    color: var(--hover);
    background-color: var(--blue);
}

#save-settings-button.disabled:hover {
    pointer-events: none;
}

#new_password, #confirm_password {
    border: var(--border);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--input-bg);
}

#change-password-title {
    margin-left: 20px;
    margin-top: 20px;
}

#change-password-form {
    margin-left: 40px;
    margin-top: 20px;
}

.error-message {
    display: none;
    margin-left: 40px;
    color: red;
}

#password-change-success, #settings-change-success {
    display: none;
    margin-top: 30px;
    margin-left: 20px;
}



/* new post */
#new_post_section {
    margin: 0;
    padding-left: 20px;
}

#new_post_box {
    padding: 20px 0px 20px 20px;
    border: var(--border);
    margin-right: 20px;
    border-radius: 10px;
}

#new_post_header {
    font-size: 30px;
}

#new_post_text {
    height: 50vh;
    width: 75vw;
    display: block;
}

#create_post_button {
    margin-top: 10px;
}



/* profiles */
#following {
    display: inline-block;
}

#follow_button, #unfollow_button {
    display: block;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
}

#follow_button:hover, #unfollow_button:hover {
    cursor: pointer;
}

#profile-header {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
}

#profile-table {
    padding: 10px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: 60px;
}

.profile-stats {
    text-align: center;
    padding: 5px 10px 5px 10px;
}

#following {
    margin-left: 40px;
}

#posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 60px 0 60px;
}

.ind-post {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: var(--hover);
    padding: 15px;
    border-radius: 5px;
}

.post-info {
    margin: 5px 0 5px 0;
}

.post-content {
    font-size: 20px;
}

.post-likes {
    margin-top: 15px;
    font-weight: bold;
}

.post-date {
    font-size: 13px;
}

.no-posts {
    margin-top: 20px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}