{% extends 'network/layout.html' %}

{% block title %}Change Password{% endblock %}

{% block body %}
<script>
let message;
function checkPassword(container) {
    // get all input fields
    const newPassword = document.querySelector('#new_password').value;
    const confirmPassword = document.querySelector('#confirm_password').value;

    message = document.querySelector('.error-message');

    // if fields are blank
    if (newPassword == '' || confirmPassword == '') {
        message.style.display = 'block';
        message.innerHTML = 'Please fill out all the required fields.';
        return
    }

    if (newPassword !== confirmPassword) {
        message.style.display = 'block';
        message.innerHTML = 'Passwords do not match.';
        return
    }

    fetch(`/api/password/${currentUserID}`, {
        method: 'PUT',
        body: JSON.stringify({
            new_password: newPassword
        })
    })
    .then(response => response.json())
    .then(result => {
        console.log(result);
    });

    document.querySelector('#change-password-section').style.display = 'none';
    document.querySelector('#password-change-success').style.display = 'block';

    setTimeout(redirect, 3000);
};



// log out and redirect to login page
function redirect() {
    window.location.replace('http://127.0.0.1:8000/login');
}



// if user presses enter key, run checkPassword
document.addEventListener('keydown', (event) => {
    if (event.key === 'Enter') {
        const container = document.querySelector('#change-password-form');
        checkPassword(container);
    }
    else {
        message.style.display = 'none';     // remove fill out fields message
    }
});
</script>
<div id="change-password-section">
    <h1 id="change-password-title">Change Password</h1>

    <form id="change-password-form" method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="new_password">New Password: </label>
            <input id="new_password" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm New Password: </label>
            <input id="confirm_password" name="confirm_password" placeholder="Confirm New Password" type="password">
        </div>
        <p onclick=checkPassword(this.parentNode) class="btn btn-success no-color-change">Change Password</p>
    </form>

</div>
<div class="error-message no-color-change"></div>
<div id="password-change-success">
    <h1>Successfully changed password!</h1>
    <h1>Logging out...</h1>
</div>

{% endblock %}