{% extends 'network/layout.html' %}
{% block title %}Profile{% endblock %}
{% block body %}
    <div id="profile-header">
        <h1 id="profile-username">{{ user_profile.username }}</h1>
            <table id="profile-table">
                <tbody>
                    <tr>
                        <td class="profile-stats">{{ posts_count }}</td>
                        <td class="profile-stats">{{ followers_count }}</td>
                        <td id="followers-total" class="profile-stats">{{ following_count }}</td>
                    </tr>
                    <tr>
                        <td class="profile-stats">Posts</td>
                        <td class="profile-stats">Following</td>
                        <td class="profile-stats">Followers</td>
                    </tr>
                </tbody>
            </table>
    </div>

    <div id="following">
        <p id="follow_button" class="no-color-change"onclick=follow()>Follow</p>
    </div>

    
        {% if posts %}  
        <div id="all_posts">
            {% for post in posts %}
                <div data-postid="{{post.id}}" class="post_container">
                    {% if post.image != 'null' %}
                        <img class="no-color-change post_image" src="{{ post.image }}">
                    {% endif %}
                    <p class="post_element post_content">{{ post.content }}</p>
                    <p onclick="changeLikes(this.parentNode)" class="post_element post_likes"><span class="no-color-change like-icon">❤️</span> <span class="amount_of_likes">{{ post.likes.count }}</span></p>
                    <p class="post_element post_date">{{ post.date }}</p>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="no-posts">
            <h1>No Posts Yet</h1>
        </div>
        <div class="no-posts">
            <img id="no-posts-image" src="https://community.jobaajlearnings.com/assets/nopost.png">
        </div>
        {% endif %}
<script>
let is_following;
let profile;
let profileUsername;    // logged in user username
let profileFirstVisit = true;

// see if user is following or not
function follow() {

    fetch(`/api/following/${currentUserID}`)
    .then(response => response.json())
    .then(following => {
        is_following = following.following;     // people that logged in user is following
        profile = document.querySelector('#profile-username');
        profileUsername = profile.textContent;  // profile view username
        const followers = document.querySelector('#followers-total');
        const followerAmount = parseInt(followers.innerHTML,10);

        // create constants for follow buttons
        const followButton = document.querySelector('#follow_button');

        if (profileUsername == currentUsername) {
            followButton.style.display = 'none';
            return
        }

        // prevents changing following status on first visit
        if (profileFirstVisit == true) {
                profileFirstVisit = false;
                if (is_following.includes(profileUsername)) {
                    followButton.innerHTML = 'Unfollow';
                    followButton.style.backgroundColor = 'var(--hover)';
                } else {
                    followButton.innerHTML = 'Follow';
                    followButton.style.backgroundColor = 'var(--blue)';
                }
                return  // breaks out of function
        }


        // checks if logged in user is following viewed profile
        if (is_following.includes(profileUsername)) {
            // change button to follow
            followButton.innerHTML = 'Follow';
            followButton.style.backgroundColor = 'var(--blue)';
            followers.innerHTML = `${followerAmount - 1}`;

            // removes follower
            fetch(`/api/following/${currentUserID}`, {
                method: 'PUT',
                body: JSON.stringify({
                    following: profileUsername,
                    action: 'remove'
                })
            })
            .then(response => response.json())
            .then(result => {
                console.log(result);
            })

        } else {
            // change button to unfollow
            followButton.innerHTML = 'Unfollow';
            followButton.style.backgroundColor = 'var(--hover)';
            followers.innerHTML = `${followerAmount + 1}`;

            // adds follower
            fetch(`/api/following/${currentUserID}`, {
                method: 'PUT',
                body: JSON.stringify({
                    following: profileUsername,
                    action: 'add'
                })
            })
            .then(response => response.json())
            .then(result => {
                console.log(result);
            })
        };
    });
};

function initalLikes() {
    const posts = document.querySelectorAll('[data-postid]');
    
    posts.forEach(postContainer => {
        const postID = postContainer.dataset.postid;
        const likeIcon = postContainer.querySelector('.like-icon');
        fetch(`/api/likes/${postID}`)
            .then(response => response.json())
            .then(data => {
                const users = data.usersid;
                if (users.includes(currentUserID)) {
                    likeIcon.innerHTML = '❤️';

                } else if (!users.includes(currentUserID)) {
                    likeIcon.innerHTML = '🤍';
                }
            })
    })
};

document.addEventListener('DOMContentLoaded', function() {
    follow();
    initalLikes();
});

</script>
{% endblock %}