textarea {
    min-height: 400px;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

.singleEmail {
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}

@keyframes emailhover {
    0% {
    }
    100% {
        background-color: lightcyan;
    }
}

.singleEmail:hover {
    animation-name: emailhover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.mailText {
    vertical-align: center;
    height: 100%;
    margin: 0;
}

.mailSubject, .mailTime {
    margin-left: 10px;
}

.mailReciever {
    font-weight: bold;
}

.mailSubject {
}

.mailTime {
    text-align: right;
    margin-left: auto;
}

.emailDivider {
    margin: 30px 0 30px 0;
    height: 1px;
    border: 1px solid lightgrey;
}

.emailButtons {
    border: 2px solid lightskyblue;
    border-radius: 10px;
    color: lightskyblue;
    background-color: white;
    padding: 5px 10px 5px 10px;
}