{% extends 'network/layout.html' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1 id="change-password-title">Change Password</h1>

    <form id="change-password-form" method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="current_password">Current Password: </label>
            <input name="current_password" placeholder="Current Password" type="password">
        </div>
        <div class="form-group">
            <label for="new_password">New Password: </label>
            <input name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm New Password: </label>
            <input name="confirm_password" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-success">Change Password</button>
    </form>

{% endblock %}