{% extends 'network/layout.html' %}
{% block title %}Following{% endblock %}

{% block body %}
<div id="all_posts">
    {% for post in posts %}
    <div data-postid="{{post.id}}"class="post_container">
        <p class="post_element post_user">{{post.user}}</p>
        <p class="post_element post_content">{{post.content}}</p>
        <p class="post_element post_date">{{post.date}}</p>
        <p onclick="changeLikes(this.parentNode)" class="post_element post_likes"><span class="no-color-change like-icon">❤️</span> <span class="amount-of-likes">{{post.likes.count}}</span></p>
        <p class="post_element post_comment">Comment</p>
    </div>
    {% endfor %}
</div>
{% endblock %}