{% extends "network/layout.html" %}
{% block body %}
<script>
    // get userID
    let user
    function getUser() {
        currentUser = document.querySelector('#current-user');
        user = currentUser.dataset.user;
        console.log(`Current User: ${user}`);
    }
    document.addEventListener('DOMContentLoaded', () => getUser());   // get userID



    // initalize current post id and step
    let current = 0;
    const step = 10;
    let hasMorePosts = true;

    function fetchPosts() {
        // prevent fetching if there is no more posts
        if (!hasMorePosts) {
            return console.log("Error: There are no more posts.");
        };

        fetch(`/api/all_posts/?current=${current}&step=${step}`)
        .then(response => response.json())
        .then(data => {
            const posts = data.posts;
            
            // if no more posts, set the flag to false
            if (posts.length === 0) {
                hasMorePosts = false;
                return;
            }

            // creates a post in HTML for each post
            posts.forEach(post => {

                const postContainer = document.createElement('div');
                postContainer.className = 'post_container';
                postContainer.setAttribute('name',`${post.id}`);
        
                postContainer.innerHTML = 
                `
                    <p class="post_element post_user">${post.user}</p>
                    <div class="edit_container">
                    <p class="post_element post_content">${post.content}</p>
                    <p class="post_element post_date">${post.date}</p>
                    <p class="post_element post_likes">❤️ ${post.likes}</p>
                    <p class="post_element post_comment">Comment</p>
                    <button onclick="edit(this.parentNode.parentNode)" class="post_element post_edit btn btn-primary">Edit</button>
                    </div>
                    <div class="save_container">
                    <textarea class="post_element post_textarea">${post.content}</textarea>
                    <br>
                    <button onclick="save(this.parentNode.parentNode)" class="post_element post_save btn btn-primary">Save</button>
                    </div>
                `;


                // if logged in user is current user, add edit button
                if (post.user == user) { 
                    postContainer.querySelector('.post_edit').style.display = 'block';
                }
                
                document.querySelector('#all_posts').appendChild(postContainer);
            });

            current += step;    // increment to fetch next batch of posts
        })
        .catch(error => console.error('Error fetching data:', error));  // incase there is another error, print to console
    };

    // if user reaches bottom of the page, load more posts
    window.onscroll = () => {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
            fetchPosts();
        }
    };
    document.addEventListener('DOMContentLoaded', () => fetchPosts());  // load inital posts


    // save post function
    function save(container) {
        const editedContent = container.querySelector('.post_textarea').value;

        container.querySelector('.edit_container').style.display = 'block';
        container.querySelector('.save_container').style.display = 'none';

        container.querySelector('.post_content').textContent = editedContent;

        
    };


    // edit post function
    function edit(container) {
        const postContent = container.querySelector('.post_content').textContent;

        container.querySelector('.edit_container').style.display = 'none';
        container.querySelector('.save_container').style.display = 'block';

        container.querySelector('.post_textarea').value = postContent;
    };
</script>

    <div id="current-user" data-user="{{ request.user }}"></div>

    <div id="all_posts"></div>
    <div id="observerElement"></div>
{% endblock %}
