{% extends 'network/layout.html' %}

{% block title %}Profile{% endblock %}

{% block body %}
<script>
    let is_following;
    let profile;
    let profileUsername;    // logged in user username
    let firstVisit = true;

    // see if user is following or not
    function follow() {

        fetch(`/api/following/${currentUserID}`)
        .then(response => response.json())
        .then(following => {
            is_following = following.following;     // people that logged in user is following
            profile = document.querySelector('#username');
            profileUsername = profile.textContent;  // profile view username

            // create constants for follow buttons
            const followButton = document.querySelector('#follow_button');

            // prevents changing following status on first visit
            if (firstVisit == true) {
                    firstVisit = false;
                    if (is_following.includes(profileUsername)) {
                        followButton.innerHTML = 'Unfollow';
                    } else {
                        followButton.innerHTML = 'Follow';
                    }
                    return  // breaks out of function
            }


            // checks if logged in user is following viewed profile
            if (is_following.includes(profileUsername)) {
                followButton.innerHTML = 'Follow';

                // removes follower
                fetch(`/api/following/${currentUserID}`, {
                    method: 'PUT',
                    body: JSON.stringify({
                        following: profileUsername,
                        action: 'remove'
                    })
                })
                .then(response => response.json())
                .then(result => {
                    console.log(result);
                })

            } else {
                // hide follow button, show unfollow button
                followButton.innerHTML = 'Unfollow';

                // adds follower
                fetch(`/api/following/${currentUserID}`, {
                    method: 'PUT',
                    body: JSON.stringify({
                        following: profileUsername,
                        action: 'add'
                    })
                })
                .then(response => response.json())
                .then(result => {
                    console.log(result);
                })
            };
        });
    };

    document.addEventListener('DOMContentLoaded', follow);

</script>

    <div id="profile-header">
        <h1 id="username">{{ user_profile.username }}</h1>
        <p>{{ posts_count }}</p>
        <p>{{ following_count }}</p>
        <p>{{ followers_count }}</p>
    </div>

    <div id="following">
        <p id="follow_button" onclick=follow()>Follow</p>
    </div>

    <div>  
        {% for post in posts %}
            <h1>{{ post.content }}</h1>
        {% endfor %}
    </div>
{% endblock %}