{% extends "auctions/layout.html" %}
{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        <a href="{% url 'listing' listing.id %}">
            {% if listing.imageURL %}
            <img src="{{ listing.imageURL }}">
            {% else %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">
            {% endif %}
            <h2>{{ listing.title }}</h2>
            <h3>Price: ${{ listing.price }}</h3>
            <h4>Created: {{ listing.date }} </h4>
        </a>
    {% endfor %}
{% endblock %}