{% extends "auctions/layout.html" %}
{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        <a href="{% url 'listing' listing.id %}">
            <div class="index-listing">
                {% if listing.imageURL %}
                <img class="index-image" src="{{ listing.imageURL }}">
                {% else %}
                <img class="index-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">
                {% endif %}
                <div class="index-listing-info">
                    <h2 class="index-listing-title">{{ listing.title }}</h2>
                    <h3 class="index-listing-price">Price: ${{ listing.price|floatformat:2 }}</h3>
                    <h4 class="index-listing-date">Created: {{ listing.date }}</h4>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}