:root {
    --border: 1.5px solid #ced0d4;
    --input-bg: black;
    --hover: rgb(85, 85, 85);
    --error-border: 2px solid red;
    --blue: rgb(53, 121, 234);
    --light-blue: rgb(71, 175, 255);
    --white: white;
}

html {
    font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    background-color: #121212;
}

body {
    background-color: #121212;
    font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    color: var(--white);
    min-height: 100vh;
}

/* light mode body */
.light-mode {
    background-color: #e9eef3;
    transition: background-color 0.5s ease;
}

.dark-mode {
    transition: background-color 0.5s ease;
}

input {
    color: var(--white);
}

.blue-button {
    background-color: var(--light-blue);
    color: var(--white);
}

@keyframes interact {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* register & login */
#register-login-max-width {
    width: 20vw;
    text-align: center;
    margin: 0 auto;
}

#register-header {
    display: block;
}

#register-login-message {
    margin: 0;
    margin-top: 20px;
}

#register-login-here {
    margin: 0;
}

/* home index */
#observerElement {
    margin-bottom: 40px;
}

#all_posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.post_container {
    border: var(--border);
    width: 30vw;
    background-color: var(--hover);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.light-mode .post_container {
    background-color: var(--white);
}

.navbar {
    background-color: black;
}

.light-mode .navbar {
    background-color: var(--white);
}

.light-mode .nav-link,
.light-mode .navbar-brand {
    color: black;
}

.nav-link,
.navbar-brand {
    color: var(--white);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.nav-link:hover {
    color: var(--white);
    background-color: var(--hover);
}

.navbar-brand:hover {
    color: var(--blue);
}

#dark-mode-toggle {
    width: 50px;
    position: absolute;
    top: 18px;
    right: 80px;
    filter: invert(1);
}

.light-mode #dark-mode-toggle {
    filter: invert(0);
}

.post_element {
    margin: 0px 20px 0px 20px;
}

.light-mode .post_user,
.light-mode .post_content,
.light-mode .amount_of_likes,
.light-mode .post_comment,
.light-mode .post_date {
    color: black;
}

.light-mode .post_likes {
    color: var(--white);
}

.post_user {
    font-size: 30px;
    padding-top: 10px;
    display: inline;
}

.post_user:hover {
    cursor: pointer;
    color: var(--blue);
    font-weight: bold;
}

.post_image {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}

.post_content {
    display: block;
    margin-top: 10px;
    font-size: 20px;
}

.post_date {
    margin-bottom: 10px;
    font-size: 12px;
}

.post_text {
    font-size: 20px;
}

.post_comment {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.post_edit {
    display: none;
    margin-bottom: 10px;
    font-size: 12px;
}

.post_save,
.post_delete {
    margin-bottom: 10px;
    font-size: 12px;
}

.post_textarea {
    margin-bottom: 10px;
    height: 100px;
    width: 250px;
    padding: 10px;
    border-radius: 1px;
}

.save_container {
    display: none;
}

#deletePostPrompt {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    backdrop-filter: blur(5px);
}

#delete_post_container {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 500px;
    background-color: black;
    border-radius: 10px;
    padding: 50px;
    transform: translate(-50%, -50%);
}

#delete_post_header {
    font-size: 40px;
    margin-bottom: 30px;
}

#delete_post_cancel {
    right: 0;
    margin-right: 50px;
    position: absolute;
}

/* settings */
#settings-icon {
    right: 23px;
    position: absolute;
    top: 23px;
    height: 40px;
    filter: invert(1);
}

.light-mode #settings-icon {
    filter: invert(0);
}

#settings-title {
    margin-left: 50px;
    margin-top: 30px;
}

#settings-form,
#change-password-section {
    margin-left: 50px;
    margin-top: 40px;
}

#change-password-button {
    margin: 20px 0px 30px 50px;
}

.light-mode #settings-title,
.light-mode #settings-form,
.light-mode #password-title,
.light-mode #change-password-form {
    color: black;
}

#change-settings-button {
    margin: 10px 0px 30px 0px;
}

.form-group {
    margin: 25px 0 25px 0;
}

.settings-input {
    border: var(--border);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--input-bg);
    margin-left: 10px;
}

.light-mode .settings-input,
.light-mode #new_password,
.light-mode #confirm_password {
    background-color: var(--white);
    color: black;
}

#save-settings-button:hover {
    color: var(--hover);
    background-color: var(--blue);
}

#save-settings-button.disabled:hover {
    pointer-events: none;
}

#new_password,
#confirm_password {
    border: var(--border);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--input-bg);
}

.error-message {
    display: none;
    color: red;
    margin-bottom: 20px;
}

#password-change-success,
#settings-change-success {
    display: none;
    margin-top: 30px;
    margin-left: 20px;
}

.light-mode #password-change-success,
.light-mode #settings-change-success {
    color: black;
}

/* new post */
#new_post_section {
    margin: 0;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

#new_post_box {
    padding: 20px 20px 20px 20px;
    border: var(--border);
    margin-right: 20px;
    margin-top: 30px;
    border-radius: 10px;
    height: 325px;
    width: 45%;
}

.light-mode #new_post_box {
    background-color: var(--white);
    color: black;
}

#new_post_header {
    font-size: 30px;
}

#new_post_text {
    height: 64px;
    width: 100%;
    display: block;
    margin-right: 20px !important;
    padding: 5px;
}

#new_post_image {
    height: 32px;
    margin-left: 10px;
}

#new_post_image_area {
    display: flex;
    align-items: center;
}

#new_post_image_label {
    margin: 0;
}

#create_post_button {
    margin-top: 10px;
}

/* profiles */
#profile-pic-section {
    width: 100px;
    height: 100px;
    margin: 0 30px 0 20px;
}

#exit-change-profile-pic {
    position: absolute;
    top: 25px;
    right: 25px;
    filter: invert(1);
    height: 25px;
}

#change-profile-pic {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    backdrop-filter: blur(5px);
}

#change-profile-pic-section {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 500px;
    background-color: black;
    border-radius: 10px;
    padding: 50px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#profilepage-profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#following {
    display: inline-block;
}

#follow_button,
#unfollow_button {
    display: block;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
}

#follow_button:hover,
#unfollow_button:hover {
    cursor: pointer;
}

.light-mode #profile-username,
.light-mode #profile-table {
    color: black;
}

#profile-header {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    align-items: center;
}

#profile-table {
    padding: 10px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: 60px;
}

.profile-stats {
    text-align: center;
    padding: 5px 10px 5px 10px;
}

#following {
    margin-left: 40px;
}

.post_likes {
    margin-top: 5px;
}

.post_likes:hover {
    cursor: pointer;
}

.like-icon {
    display: inline-block;
    transition: transform 0.3s;
    width: 18.5px;
    margin-right: 5px;
}

.liked {
    transform: scale(1.4);
}

.no-posts {
    margin-top: 20px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#no-posts-image {
    width: 300px;
}

#following_no_posts {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.light-mode #following_no_posts {
    color: black;
}
