.other-pages {
    display: flex;
    justify-content: flex-end;
}

.other-pages-link {
    margin: 0;
    margin-left: 10px;
}

#google-search-bar {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
}

#google-search-submit {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}